
body{
	background-color: #ABB7B7;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-align: center; 
}

.form {
	padding: 25px; 
	margin: 25px; 
	border: solid 9px black;

}

